<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 标签 -->
    <key>Label</key>
    <string>https://github.com/syncthing/syncthing</string>
    <!-- 保持启动状态 -->
    <key>KeepAlive</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <!-- 每行就是一个命令块，中间空格的，就换一行 -->
        <string>/Users/qian/opt/syncthing/syncthing</string>
    </array>
</dict>
</plist>